{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Summary</th>
                <th>Method</th>
                <th>Ingredients</th>
                <th>Servings</th>
                <th>Preptime</th>
                <th>Cookingtime</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td><a href="{{ path('admin_recipe_show', { 'id': recipe.id }) }}">{{ recipe.id }}</a></td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.method }}</td>
                <td>{{ recipe.ingredients }}</td>
                <td>{{ recipe.servings }}</td>
                <td>{{ recipe.prepTime }}</td>
                <td>{{ recipe.cookingTime }}</td>
                <td>{% if recipe.createdAt %}{{ recipe.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if recipe.updatedAt %}{{ recipe.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_recipe_show', { 'id': recipe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_recipe_edit', { 'id': recipe.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_recipe_new') }}">Create a new recipe</a>
        </li>
    </ul>
{% endblock %}
